.option__label {
	display: flex;
	align-items: center;
	gap: var(--space-8);
	background-color: var(--color-surface);
	border-color: var(--color-border);
	border-radius: var(--radius-sm);
	padding: var(--space-12) var(--space-16);
	cursor: pointer;
	margin-bottom: var(--space-4);
	transition:
		background-color 0.2s ease,
		border-color 0.2s ease;
}

.option__label:hover {
	background-color: var(--color-primary-light-2);
}

.option__label:has(.option__input:checked) {
	border-color: var(--color-primary);
}

.option__label:has(.option__input:disabled) {
	border-color: var(--color-border);
	color: var(--color-border);
	pointer-events: none;
}

.option__label--success {
	color: var(--color-success) !important;
	border-color: var(--color-success) !important;
}

.option__label--error {
	color: var(--color-error) !important;
	border-color: var(--color-error) !important;
}

.option__message {
	padding: 0 var(--space-16);
}
