.progress-bar {
	width: 100%;
	height: 6px;
	background-color: var(--color-border);
	border: none;
	border-radius: var(--space-4);
	appearance: none;
}

.progress-bar::-webkit-progress-bar {
	background-color: var(--color-border);
	border-radius: var(--space-4);
}

.progress-bar::-webkit-progress-value {
	background: var(--color-primary);
	border-radius: var(--space-4);
}

.progress-bar::-moz-progress-bar {
	background: var(--color-primary);
	border-radius: var(--space-4);
}
