.quiz {
	margin: var(--space-64) 0;
	grid-column: 3 / span 8;
}

.quiz__title {
	margin-bottom: var(--space-8);
}

.quiz__description {
	color: var(--color-text-secondary);
	margin-bottom: var(--space-24);
}

.quiz__progress-text {
	color: var(--color-text-secondary);
	margin-bottom: var(--space-4);
}

.quiz__progress-bar {
	width: 100%;
	height: 6px;
	background-color: var(--color-border);
	border: none;
	border-radius: var(--space-4);
	margin-bottom: var(--space-24);
}

.quiz__progress-bar::-webkit-progress-value {
	background: var(--color-primary);
}

.quiz__progress-bar::-moz-progress-bar {
	background: var(--color-primary);
}

.question__text {
	margin-bottom: var(--space-4);
}

.question__hint {
	margin-bottom: var(--space-24);
}

.question__options {
	display: flex;
	flex-direction: column;
	gap: var(--space-8);
	margin-bottom: var(--space-24);
}

.option__label {
	display: flex;
	align-items: center;
	gap: var(--space-8);
	background-color: var(--color-surface);
	border: 1px solid var(--color-border);
	border-radius: var(--radius-sm);
	padding: var(--space-12) var(--space-16);
	cursor: pointer;
	margin-bottom: var(--space-4);
	transition: background-color 0.2s ease, border-color 0.2s ease;
}

.option__label:hover {
	background-color: var(--color-primary-light-2);
}

.option__label:has(input:checked) {
	border: 1px solid var(--color-primary);
}

.option__label:has(input:disabled) {
	border: 1px solid var(--color-border);
	color: var(--color-border);
	pointer-events: none;
}

.option__label--success {
	color: var(--color-success) !important;
	border: 1px solid var(--color-success) !important;
}

.option__label--error {
	color: var(--color-error) !important;
	border: 1px solid var(--color-error) !important;
}

.option__label input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	margin: 0;
	background-color: var(--color-surface);
	border: 1px solid var(--color-primary);
	border-radius: var(--radius-xs);
	position: relative;
	transition: border-color 0.2s ease, background-color 0.2s ease;
}

.option__label input[type="checkbox"]:checked::before {
	content: "";
	position: absolute;
	inset: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	background-color: var(--color-surface);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.option__label input[type="checkbox"]:checked::before,
.option__label--success input[type="checkbox"]:checked::before  {
	mask-image: var(--icon-check);
	-webkit-mask-image: var(--icon-check);
}

.option__label--error input[type="checkbox"]:checked::before {
	mask-image: var(--icon-cross);
	-webkit-mask-image: var(--icon-cross);
}

.option__label input[type="checkbox"]:checked {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}

.option__label--success input[type="checkbox"] {
	border-color: var(--color-success) !important;
	background-color: var(--color-surface) !important;
}

.option__label--success input[type="checkbox"]:checked {
	border-color: var(--color-success) !important;
	background-color: var(--color-success) !important;
}

.option__label--error input[type="checkbox"] {
	border-color: var(--color-error) !important;
	background-color: var(--color-error) !important;
}

.option__label--error input[type="checkbox"]:checked {
	border-color: var(--color-error) !important;
	background-color: var(--color-error) !important;
}

.option__label input[type="checkbox"]:disabled {
	border-color: var(--color-border);
	background-color: var(--color-border);
}

.option__label input[type="radio"] {
	appearance: none;
	width: 20px;
	height: 20px;
	margin: 0;
	background-color: var(--color-surface);
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	position: relative;
	transition: border-color 0.2s ease, background-color 0.2s ease;
}

.option__label input[type="radio"]:checked::before {
	content: "";
	position: absolute;
	inset: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	background-color: var(--color-primary);
	border-radius: 50%;
}

.option__label--error input[type="radio"]:checked::before,
.option__label--success input[type="radio"]:checked::before {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.option__label--success input[type="radio"]:checked::before  {
	background-color: var(--color-success);
	mask-image: var(--icon-check);
	-webkit-mask-image: var(--icon-check);
}

.option__label--error input[type="radio"]:checked::before {
	background-color: var(--color-error);
	mask-image: var(--icon-cross);
	-webkit-mask-image: var(--icon-cross);
}

.option__label input[type="radio"]:checked {
	border-color: var(--color-primary);
	background-color: var(--color-surface);
}

.option__label--success input[type="radio"] {
	border-color: var(--color-success) !important;
	background-color: var(--color-surface) !important;
}

.option__label--error input[type="radio"] {
	border-color: var(--color-error) !important;
	background-color: var(--color-surface) !important;
}

.option__label input[type="radio"]:disabled {
	border-color: var(--color-border);
	background-color: var(--color-border);
}

.option__message {
	padding: 0 var(--space-16);
}
