.quiz {
	grid-column: 3 / span 8;
	display: flex;
	flex-direction: column;
	gap: var(--space-24);
}

.quiz__title {
	margin-bottom: var(--space-8);
}

.quiz__description {
	color: var(--color-text-secondary);
}

.quiz__progress-text {
	color: var(--color-text-secondary);
	margin-bottom: var(--space-4);
}

.quiz__question {
	margin-bottom: var(--space-24);
}

@media (max-width: 1024px) {
	.quiz {
		grid-column: span 8;
	}
}

@media (max-width: 428px) {
	.quiz {
		grid-column: span 4;
	}

	.quiz__actions .button {
		width: 100%;
	}
}
