.quiz {
	margin: var(--space-64) 0;
	grid-column: 3 / span 8;
	display: flex;
	flex-direction: column;
	gap: var(--space-24);
}

.quiz__title {
	margin-bottom: var(--space-8);
}

.quiz__description {
	color: var(--color-text-secondary);
}

.quiz__progress-text {
	color: var(--color-text-secondary);
	margin-bottom: var(--space-4);
}

.quiz__question {
	margin-bottom: var(--space-24);
}
