.quizzes {
	margin: var(--space-64) 0;
	grid-column: span 12;
}

.quizzes__title {
	margin-bottom: var(--space-24);
}

.quizzes__empty {
	height: 100%;
}

.quizzes__empty-content {
	grid-column: 3 / span 8;
	align-self: center;
}

.quizzes__empty-title {
	margin-bottom: var(--space-8);
}

.quizzes__empty-subtitle {
	color: var(--color-text-secondary);
	margin-bottom: var(--space-24);
}
