.radio {
	appearance: none;
	width: 20px;
	height: 20px;
	margin: 0;
	background-color: var(--color-surface);
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	transition:
		background-color 0.2s ease,
		border-color 0.2s ease;
}

.radio:checked::before {
	content: "";
	position: absolute;
	inset: 0;
	margin: auto;
	width: 12px;
	height: 12px;
	background-color: var(--color-primary);
	border-radius: 50%;
}

.radio:checked {
	border-color: var(--color-primary);
	background-color: var(--color-surface);
}

.radio:disabled {
	border-color: var(--color-border);
	background-color: var(--color-border);
}

.radio--success {
	border-color: var(--color-success) !important;
	background-color: var(--color-surface) !important;
}

.radio--success:checked::before {
	background-color: var(--color-success);
	mask-image: var(--icon-check);
	-webkit-mask-image: var(--icon-check);
}

.radio--error {
	border-color: var(--color-error) !important;
	background-color: var(--color-surface) !important;
}

.radio--error:checked::before {
	background-color: var(--color-error);
	mask-image: var(--icon-cross);
	-webkit-mask-image: var(--icon-cross);
}

.radio--success:checked::before,
.radio--error:checked::before {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}
