.toast {
	position: fixed;
	top: calc(var(--header-height) + var(--space-8));
	right: var(--grid-container-offset);
	width: calc(var(--grid-container-width) * 4 / var(--grid-columns));
	max-width: var(--grid-container-width);
	z-index: 2000;
	border-radius: var(--radius-sm);
	padding: var(--space-12) var(--space-16);
}

.toast--error {
	background-color: var(--color-error-light);
	border: 1px solid var(--color-error);
}

.toast__content {
	margin-bottom: var(--space-16);
}
