@import "../base/variables.css";
@import "../base/base.css";
@import "../components/footer.css";
@import "../components/header.css";
@import "../components/main.css";
@import "../components/quiz.css";
@import "../components/modal.css";
